@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script src="/Scripts/main.js"></script>
}

<div class="jumbotron start-menu">
    <h1>Физика</h1>
    <p class="lead">Проверим-ка твои знания по физике</p>
    <p>
        <button class="btn btn-primary btn-large start-test">Начать &raquo;</button>
    </p>
</div>

<div class="jumbotron light-test" hidden>
    <h4>Вопрос <span class="qst-curr-nmb">0</span> из <span class="qst-all-nmb">0</span></h4>
    <h2 class="qst-txt"></h2>
    <p><button class="btn btn-default qst-ans 0-ans-btn"></button></p>
    <p><button class="btn btn-default qst-ans 1-ans-btn"></button></p>
    <p><button class="btn btn-default qst-ans 2-ans-btn"></button></p>
    <p><button class="btn btn-default qst-ans 3-ans-btn"></button></p>
    <hr class="next-qst" />
    <p class="next-qst">
        <button class="btn btn-primary next-qst-btn">Дальше</button>
    </p>
</div>

<div class="jumbotron summary" hidden>
    <h2>Поздравляю. Твой результат: <span class="qst-corr-nmb">0</span> из <span class="qst-all-nmb">0</span></h2>
    <button class="btn btn-primary start-test">Ещё разок</button>
</div>